<div class="print-format-container">
    <div class="print-format-body">
        <style>
            body {
                font-family: Arial, sans-serif;
                font-size: 11pt; /* Consistent font size for all text except main title */
                margin:2px;
            }
            table {
                width: 100%;
                border-collapse: collapse;
                /*margin-bottom: 10px;*/
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 0px;
                text-align: left;
            }
            .judul {
                vertical-align : middle !important;
            }
            .no-border {
                border: none;
            }
            .text-center {
                text-align: center;
            }
            .header-table td {
                padding: 5px 5px !important;
            }
            .section-title {
                font-weight: bold;
                background-color: #f0f0f0;
            }
            .border-r{ border-right:none !important;}
            .border-l{ border-left:none !important;}
            .border-rl{
                border-left:none !important;
                border-right:none!important;
            }

            .dotted-line {
                border-bottom: 1px dotted black;
                display: inline-block;
                width: calc(100% - 120px); /* Adjust based on label width */
            }
            .label {
                display: inline-block;
                width: 110px; /* Fixed width for labels */
                border: none; /* Remove border from labels */
            }
            .field-value {
                display: inline-block;
                width: calc(100% - 85px); /* Adjust based on label width */
                vertical-align: middle;
            }
            .signature-box {
                width: 25%;
                height: 80px;
                border: 1px solid black;
                vertical-align: bottom;
                text-align: center;
            }
            .signature-label {
                /* Removed specific font size, will inherit from body */
                margin-top: 5px;
            }
            .tulisan{
                padding:5px !important;
            }
            /* Specific font size for main title */
            .header-table .text-center[rowspan="4"] {
                font-size: 16pt !important;
            }
            /* Ensure logo text inherits from body */
            .header-table td[rowspan="4"] smaller {
                font-size: inherit;
            }
        </style>

        <!-- Header Section -->
        <table class="header-table">
            <tr>
                <td rowspan="4" style="width: 120px; text-align: center; vertical-align:middle !important; border-right: 1px solid black;font-size:75%">
                    {% if frappe.db.get_value('Company', doc.company, 'company_logo') %}
                        <img src="{{ frappe.db.get_value('Company', doc.company, 'company_logo') }}" width="50" height="50" />
                    {% endif %}
                    <br><smaller>PT. SIUMANG TEMAN SUKSES</smaller>
                </td>
                <td rowspan="4" class="text-center" style="font-size: 16pt; font-weight: bold; border-right: 1px solid black; vertical-align:middle !important;">EMPLOYEE REQUEST (ER)</td>
                <td class="tulisan border-r" style="width: 120px;">Tgl Terbit</td>
                <td class="tulisan border-rl" style="width: 5px;">:</td>
                <td class="tulisan border-l" style="width: 150px;">{{ frappe.format_date(doc.posting_date) if doc.posting_date else '' }}</td>
            </tr>
            <tr>
                <td class="tulisan border-r">No. Dokumen</td>
                <td class="tulisan border-rl">:</td>
                <td class="tulisan border-l">FM-HRGA-01</td>
            </tr>
            <tr>
                <td class="tulisan border-r">No. Revisi</td>
                <td class="tulisan border-rl">:</td>
                <td class="tulisan border-l">00</td>
            </tr>
            <tr>
                <td class="tulisan border-r">Halaman</td>
                <td class="tulisan border-rl">:</td>
                <td class="tulisan border-l">1 dari 1</td>
            </tr>
        </table>

        <table style="margin-top: 0px;">
            <tr>
                <td class="border-r" style="width: 50%;">
                    <span class="label tulisan">Tanggal Permintaan</span>:&nbsp;&nbsp;<span class="dotted-line">{{ frappe.format_date(doc.posting_date) if doc.posting_date else '' }}</span>
                </td>
                <td class="border-l" style="width: 50%;">
                    <span class="label">Tanggal Kebutuhan</span>:&nbsp;&nbsp;<span class="dotted-line">{{ frappe.format_date(doc.expected_by) if doc.expected_by else '' }}</span>
                </td>
            </tr>
        </table>

        <!-- 1. Informasi Permintaan Karyawan -->
        <table>
            <tr>
                <td colspan="2" class="section-title">1. Informasi Permintaan Karyawan</td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <span class="label">Departemen</span>:&nbsp;&nbsp;{{ doc.department }}
                </td>
                <td style="width: 50%;">
                    <span class="label">Jumlah Karyawan</span>:&nbsp;&nbsp;{{ doc.no_of_positions }}
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Jabatan</span>:&nbsp;&nbsp;{{ doc.designation }}
                </td>
                <td>
                    <span class="label">Status Karyawan</span>:&nbsp;&nbsp;{{ doc.employment_type if doc.employment_type else 'Tetap/Kontrak/Harian Lepas/Borongan' }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Status Permintaan</span>:&nbsp;&nbsp;{{ doc.jenis_permintaan if doc.jenis_permintaan else 'Penambahan/Penggantian' }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Alasan Permintaan</span>:
                    <div style="min-height: 50px; border-bottom: 1px dotted black;">
                        {{ doc.reason_for_requesting }}
                    </div>
                </td>
            </tr>
        </table>

        <!-- 2. Uraian Singkat Job Description -->
        <table>
            <tr>
                <td colspan="2" class="section-title">2. Uraian Singkat Job Description</td>
            </tr>
            <tr>
                <td style="width: 50%;">Tugas Pokok</td>
                <td style="width: 50%;">Tanggung Jawab</td>
            </tr>
            <tr>
                <td style="min-height: 100px;">
                    {{ doc.description }}
                </td>
                <td style="min-height: 100px;">
                    <!-- Assuming Tanggung Jawab is part of description or needs custom field -->
                </td>
            </tr>
        </table>

        <!-- 3. Job Qualification -->
        <table>
            <tr>
                <td colspan="2" class="section-title">3. Job Qualification</td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <span class="label">Jenis Kelamin</span>:&nbsp;&nbsp;{{ doc.jenis_kelamin if doc.jenis_kelamin else '' }}
                </td>
                <td style="width: 50%;">
                    <span class="label">Pendidikan</span>:&nbsp;&nbsp;{{ doc.pendidikan if doc.pendidikan else '' }}
                </td>
            </tr>
            <tr>
                <td>
                    <span class="label">Pengalaman Kerja</span>:&nbsp;&nbsp;{{ doc.tahun_pengalaman if doc.tahun_pengalaman else '' }} Tahun
                </td>
                <td>
                    <span class="label">Status</span>:&nbsp;&nbsp;Lajang/Kawin/Tidak Dipersyaratkan
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Usia</span>:&nbsp;&nbsp;{{ doc.usia_min if doc.usia_min else '' }} - {{ doc.usia_maks if doc.usia_maks else '' }} Tahun
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Keahlian/Kemampuan</span>:
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Bahasa Asing</span>:
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Lain-lain</span>:
                </td>
            </tr>
        </table>

        <!-- Approval Section -->
        <table style="margin-top: 10px; font-size: 11pt;">
            <tr>
                <td class="text-center signature-box">
                    <div style="min-height: 50px;">
                        {% if doc.requested_by %}
                            <img src="" data-qrcode="{{ "/app/employee/" + doc.requested_by }}" width="50" height="50" />
                        {% endif %}
                    </div>
                    <div class="signature-label">Dibuat Oleh:<br>{{ doc.requested_by_name }}</div>
                </td>
                <td class="text-center signature-box">
                    <div style="min-height: 50px;"></div>
                    <div class="signature-label">Disetujui Oleh:</div>
                </td>
                <td class="text-center signature-box">
                    <div style="min-height: 50px;"></div>
                    <div class="signature-label">Disetujui Oleh:</div>
                </td>
                <td class="text-center signature-box">
                    <div style="min-height: 50px;"></div>
                    <div class="signature-label">Disahkan Oleh:*</div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="no-border" style="font-size: 8pt;">
                    *Penambahan baru approval hingga Direksi
                </td>
            </tr>
        </table>

        <!-- 4. Serah Terima Permintaan Karyawan -->
        <table style="font-size: 11pt;">
            <tr>
                <td colspan="2" class="section-title">4. Serah Terima Permintaan Karyawan</td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="label">Pemenuhan Permintaan</span>:&nbsp;&nbsp;Sudah Terpenuhi/Tidak Terpenuhi, Ket:
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <span class="label">Tanggal Serah Terima</span>:&nbsp;&nbsp;{{ frappe.format_date(doc.completed_on) if doc.completed_on else '' }}
                </td>
                <td style="width: 50%;">
                    <span class="label">Nama Karyawan</span>:
                </td>
            </tr>
            <tr>
                <td class="text-center signature-box">
                    <div style="min-height: 50px;"></div>
                    <div class="signature-label">Diserahkan Oleh:</div>
                </td>
                <td class="text-center signature-box">
                    <div style="min-height: 50px;"></div>
                    <div class="signature-label">Diterima Oleh:</div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <span class="label">Nama</span>: Dept. Head HRGA
                </td>
                <td style="width: 50%;">
                    <span class="label">Nama</span>: Dept. Head User
                </td>
            </tr>
        </table>

    </div>
</div>